*~
\#*\#
*.bak
.*
.vscode

# byte-compiled files
__pycache__

# build output
build
[_.]build
*.egg-info

# typical cache directories
.*[cC]ache*

# cache/dump
*.json
*.yaml
*.log
*.txt
*.diff
*.patch

# reports
*.html
*.js
*.css
*.doc*

.coverage
.hypothesis

# binary
*.png
*.pdf

# archives/compressed files
*.tar
*.zip
*.gz
*.bz
*.xz

# notebook
*.ipynb

# data
*.nc
*.h5
*.csv
data/*

# scratch directories
dsts
tmp
